# A long, secret value used to encrypt the session cookie
AUTH0_SECRET='6b41af54319c035e18657213c93c4793aa452a1827cd2965b2b6a6d2098a9795'
# The base url of your application
AUTH0_BASE_URL='http://localhost:3000'
# The url of your Auth0 tenant domain
AUTH0_ISSUER_BASE_URL='https://dev-axxxm4gpvk2wgg8j.us.auth0.com'
# Your Auth0 application's Client ID
AUTH0_CLIENT_ID='VZRFhVd9hsBjgqacBOESbHUduFsKoNZz'
# Your Auth0 application's Client Secret
AUTH0_CLIENT_SECRET='GQdS8MVkBx21q8dZHhsr9m_6mdlkRK1affSWeHSU7mZCWJw3JGMeMrhlAOgGJ5fp'